body{
background:#eef2ff;
}

.navbar{
background:linear-gradient(90deg,#0f172a,#2563eb);
padding:20px;
color:white;
text-align:center;
}

.hero{
text-align:center;
padding:40px;
}

.hero h1{
font-size:42px;
color:#1e3a8a;
}

.hero p{
font-size:18px;
}

.form{
width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.form input,
.form textarea,
.form select{

padding:12px;
font-size:16px;

}

.form button{

background:#2563eb;
color:white;
padding:14px;
border:none;
border-radius:6px;
cursor:pointer;

}

.product-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
margin-top:40px;

}

.card{

background:white;
padding:20px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.card:hover{

transform:translateY(-5px);
transition:.3s;

}

.bag-icon{

font-size:45px;
text-align:center;

}

.edit-btn{

background:orange;

}

.delete-btn{

background:red;

}

.btn-group{

display:flex;
justify-content:space-between;
margin-top:20px;

}

button{

padding:10px 20px;
border:none;
color:white;
cursor:pointer;
border-radius:5px;

}
.footer{

margin-top:50px;
padding:20px;
text-align:center;
background:#1e3a8a;
color:white;

}